# Data Science Tools and Ecosystem

In this notebook,Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List common used languages by Data Scientists
- List poplular Data Scientice Tools
- List frequently used libraries

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Scala

Some of the commonly used libraries used by Data Scientists include:
1. Panda
2. Numpy
3. Apache Spark

| Data Science Tools |
----------------
| Computational Notebooks |
| Jupyter Notebook |
| Anaconda |

### Below are a few examples of evaluating arithmetic expressions in Python:

This is a simple arithmetic expression to multiply then add integers

In [18]:
# Multiplicatin and addition operation
(3*4)+5

17

This will convert 200 minutes to hours by dividing by 60

In [18]:
def minutes_to_hours(minutes):
    return minutes / 60

result = minutes_to_hours(200)
print(result)

3.3333333333333335

## Author
Xueying Sun